<header class="header-background">
  <div class="clearfix border-bottom-thick header-border">
    <ul class="list-reset left header-text font-smoothing px-1 mr-1 mt-1">
      <li class="inline-block">
        <a class="align-middle link-primary header-link mr-2" href="{{ "/" | relative_url }}"><img class="site-title" src="{{ "/assets/images/logo-utr.png" | relative_url }}" alt="Logo" style="width: 40px"></a>
      </li>
    </ul>
    <ul class="list-reset right py-1 header-text font-smoothing mt-1 mr-1">
      {% for my_page in site.pages %}
      {% if my_page.title == "About" %}
      <li class="inline-block">
        <a class="align-middle link-primary header-link mr-2" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
      <li class="inline-block">
        <a class="align-middle link-primary header-link mr-1" href="/#blog">
          Blog
        </a>
      </li>
    </ul>

  </div>
</header>
