<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <div>

    <header class="header-background">

      <div class="clearfix border-bottom-thick header-border">
        <a class="list-reset left link-primary header-link ml-1 mt-1" href="{{ "/" | relative_url }}"><img class="site-title" src="{{ "/assets/images/logo-utr.png" | relative_url }}" alt="Logo" style="width: 40px"></a>
        <ul class="list-reset right py-1 header-text font-smoothing mr-1 mt-1">
          {% for my_page in site.pages %}
          {% if my_page.title == "About" %}
          <li class="inline-block">
            <a class="align-middle link-primary header-link mr-2" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          </li>
          {% endif %}
          {% endfor %}
          <li class="inline-block">
            <a class="align-middle link-primary header-link mr-1" href="#blog">
              Blog
            </a>
          </li>
        </ul>

      </div>

      <div class="container mx-auto px-2 mt-2 clearfix header-text" style="">
        <img src="{{ "/assets/images/logo-utr-blue.png" }}" alt="Logo" style="width: 140px">
      </div>

      <div class="container mx-auto px-2 mb-2 clearfix header-text">

        <h1 class="h0 inline-block col-9 py-2 sm-width-full mt-0 header-title">{{ site.title }}</h1>

        <div class="clearfix mb-4 py-1">
          <div class="col-4 sm-width-full left border-top-thin">
            <div class="table">
              <div class="inline-block mt-3 mr-1">
                {% include dot-accent.html %}
              </div>
              <div class="inline-block mt-3 mr-1">
                {% include dot-accent.html %}
              </div>
              <div class="inline-block mt-3">
                {% include github.html %}
              </div>
            </div>

            <!-- Set site description in config.yml -->
            <p class="h4 lh-condensed font-smoothing mt-2 py-1">{{ site.description }}</p>
          </div>

          <div class="col-4 sm-width-full left border-top-thin mt-3 mt-lg-0 ml-lg-4 table">
            <div class="inline-block mt-3 mr-1">
              {% include dot.html %}
            </div>
            <div class="inline-block mt-3">
              {% include {{ site.social_link | default: "linkedin" }}.html %}
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container mx-auto px-2 py-1">
      <ul>
        <li class="inline-block">
          <a name="blog" style="text-decoration: none">
            <h1>Blog</h1>
          </a>
        </li>
        <li class="inline-block">
          <a class="col-8 no-underline text-accent" href="{{ '/categories/' | prepend: site.baseurl }}">or browse by categories</a>
        </li>
      </ul>
      <hr style="color: black;" class="col-9 sm-width-full left border-top-thin" />

      {% for post in site.posts %}
      {% include post_block.html %}
      {% endfor %}
    </div>
  </div>

  {% include footer.html %}

</body>

</html>
