---
layout: default
---
<article class="container mx-auto px-2 mt2 mb4">
  <header>
    <div class="container mx-auto px-2 mt-2" style="">
      <a href="{{ "/" | relative_url }}">
        <img src="{{ "/assets/images/logo-utr-gray.png" }}" alt="Logo" style="width: 100px">
      </a>
      <h1 class="h0 py-1 mt-1">{{ page.title }}</h1>
    </div>
  </header>
  <div class="col-4 sm-width-full border-top-thin" id="title-line-break">
  </div>
  <div class="prose mb-4 py-4">
    {{ content }}
  </div>
</article>
